@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --slate-800: #1e293b;
  --stone-800: #292524;
  --zinc-400: #a1a1aa;
  --stone-500: #78716c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --slate-800: #f1f5f9;
    --stone-800: #f1f5f9;
    --zinc-400: #71717a;
    --stone-500: #d6d3d1;
  }
  body {
    @apply bg-zinc-800 text-zinc-400;
  }
  hr {
    @apply text-zinc-400;
  }
}

body {
  @apply leading-relaxed text-slate-800 transition-colors duration-300 ease-in-out;
  font-family: "Fraunces", serif;
  font-weight: 300;
  @apply relative;
}

/* body::after {
  content: ' ';
  @apply block fixed top-0 left-0 -bottom-10 -right-10 opacity-5 overflow-hidden;
  background: url(./logo.png) no-repeat;
  background-position: 125% 200%;
  background-attachment: fixed;
  background-size: 500px;
} */

a {
  @apply hover:text-stone-800 transition-colors duration-200 ease-in-out inline-flex items-center gap-x-1;
}

a::after {
  @apply inline-block text-[9px] font-normal;
  content: "\27A4";
  transform: rotate(-45deg);
}
